div{
    display: flex;
    color:white;
    background-color: red;
    font-size: 32px;
    justify-content: center;
}
p{
    display:flex;
    background-color: green;
    font-size: 18px;
    color:white;

}
button{
    display: flex;
    background-color: orange;
    color:black;
}